.required::after{
    content: " *";
    color: red;
}
h3{
    background-color: #F3CD05;
    font-weight: bold;
}
.text{
    margin-top: 100px;
    margin-left:50px ;
}
#context{
    height: calc(87vh);
    overflow: auto;
}
a{
    color: black;
    text-decoration: none;
}

#saveUpdate,#update{
    margin-top: 40px;
}
